<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">


    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

    <filter>
        <filter-name>XSSFilter</filter-name>
        <filter-class>by.javatr.cafe.controller.filter.XSSFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>XSSFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>UploadFilter</filter-name>
        <filter-class>by.javatr.cafe.controller.filter.UploadFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>UploadFilter</filter-name>
        <url-pattern>/upload</url-pattern>
    </filter-mapping>



    <filter>
        <filter-name>BanFilter</filter-name>
        <filter-class>by.javatr.cafe.controller.filter.BanFilter</filter-class>
    </filter>

    <filter>
        <filter-name>ContentFilter</filter-name>
        <filter-class>by.javatr.cafe.controller.filter.ContentFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ContentFilter</filter-name>
        <url-pattern>/static/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>BanFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>LocaleFilter</filter-name>
        <filter-class>by.javatr.cafe.controller.filter.LocaleFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>LocaleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <filter>
        <filter-name>URLFilter</filter-name>
        <filter-class>by.javatr.cafe.controller.filter.URLFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>URLFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <jsp-config>
    <taglib>
        <taglib-uri>/tld/localization.tld</taglib-uri>
        <taglib-location>/tld/localization.tld</taglib-location>
    </taglib>
    </jsp-config>

</web-app>